/* Created by David Sanders */

/* Global */

html, body {
   	background-color: #000000;
    color: #ffffff;
    height: 100%;
    width: 100%;

	}
/* Titles on all section except portfolio */
  .section-header{
    padding: 100px 0 50px 0;
  }

/* Header section*/

/* Responsive cover image*/
.header {
		background-image: url("Media/Header.png");
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
    background-origin: border-box;
	  max-width: 100%;
    height: 100vh;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
/* Text on cover image */
.David-Sanders{
	font-size: 8vw;
	white-space: nowrap;
}
/* Text on cover image */
.I-am-David-Sanders{
		font-size: 2vw;
}
/* Smaller screens of 600px and below */
@media only screen and (max-width: 768px) {
  .David-Sanders{
  	font-size: 12vw;
  	white-space: nowrap;
  }
  .I-am-David-Sanders{
  	font-size: 3vw;
  }
  .hero-text{
    top: 45vh;
}}

/* Portfolio section */
.portfolio{
  height: auto;
  background-color: #000000;
}
/* Padding around portfolio header */
.section-portfolio-header{
  padding: 30px 0 5px 0;
}

/* Card columns 2 by 2 at 576px and above */
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}
/* Card columns 3 by 3 at 768px and above */
@media (min-width: 768px) {
.card-columns {
    column-count: 3;
    }
}
/* Portfolio card titles and content padding */
.card-title{
  padding: 0 20px 0 20px;
}
.card-text{
  padding: 30px 10px 60px 20px;
}
/* Custom background and text colors for Portfolio*/
.bg-orange{
  background-color: #F7AD1E;
}
.bg-grey{
  background-color: #333333;
}
.bg-purple{
  background-color: #672179;
}
.bg-yale-blue{
  background-color: #084a8a;
}
.bg-black{
  background-color: #000000;
}
.text-black{
  color: #000000;
}

/* About section */

/* Writing on about section */
.love{
  font-size: 18px;
  padding: 10vw;
  text-align: center;
  margin-bottom: 20vh;
}
.listen{
  font-size: 18px;
  padding: 10vw;
  text-align: center;
  margin-bottom: 20vh;
}
.learn{
  font-size: 18px;
  padding: 10vw;
  text-align: center;
  margin-bottom: 20vh;
}
/*Resize text on smaller screens */
@media only screen and (max-width: 768px) {
  .love{
    font-size: 4vw;
    padding: 10vw;
    text-align: center;
    margin-bottom: 20vh;
  }
  .listen{
    font-size: 4vw;
    padding: 10vw;
    text-align: center;
    margin-bottom: 20vh;
  }
  .learn{
    font-size: 4vw;
    padding: 10vw;
    text-align: center;
    margin-bottom: 20vh;
  }}

/* Services section */

/* Add padding to text on cards in services section */
.card-text{
 padding: 15px;
 margin-bottom: 40px;
}
/* No borders on cards in Services section*/
@media (max-width: 768px) {
 .border-3 {
      border-width: 0px !important;
      border-color: white !important;
  }
}
/* Black borders on cards in Services section on larger screens*/
@media (min-width: 768px) {
  .border-3 {
      border-width: 10px !important;
      border-color: black !important;
  }}
/* Padding on cards in Services section on even larger screens*/
@media (min-width: 992px) {
  .services{
   padding: 0 100px 0 100px;
 }
}
/* Even more padding on cards in Services section on even more larger screens*/
@media (min-width: 1200px) {
  .services{
   padding: 0 170px 0 170px;
 }
}
/* Background and text colors on Services section */
.text-yale-blue{
    color: #084a8a;
}

/* Skills section */
.skills{
    background-color: #000000;
}
/* Heading 2 for skills */
.top-skills{
  font-size: 22px;
  padding: 10px;
  text-align: center;
}
/* Re-size heading 2 for skills section */
@media only screen and (max-width: 768px) {
  .top-skills{
    font-size: 4vw;
    padding: 10vw;
    text-align: center;
  }
}
/* Shodoww on skills */
.image-shadow{
  box-shadow: 0 0 1px 5 rgba(0, 0, 0, 1);
}

/* Contact */

/* Bacground and text colors */
.bg-dark-cyan{
    background-color: #0e76a8;
}

/* Created by David Sanders */
