/* Created by David Sanders */

/* Global */

html, body {
   height: 100%;
   width: 100%;
   background-color: #000000 !important;
   z-index: -100;

	}
body{
  overflow-x: hidden;
  background-color: #000000;
}

/* Titles on all section except portfolio */
  .section-header{
    padding: 100px 0 10px 0 !important;
  }

/* Header section*/
.header {
	  max-width: 100%;
    max-height: 100%;
    }
/* Text on cover image */
.I-am-David-Sanders{
  justify-content: center;
  align-items: center;
  height: 100% !important;
  margin-top: -10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 7vw;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  mix-blend-mode: multiply;
  opacity: 0;
  animation: fadeInText 0.5s 0.25s ease-out forwards;
  padding-left: 2vw;
}
.header-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* transform: scale(1.8); */
}
@media (min-width: 992px) {
  .header-image {
    height: 100%;
}
}
@media (max-width: 992px) {
    .header-image {
        height: 50%;
    }
    .I-am-David-Sanders{
      margin-top: 1px;
    }
    .stretched-link{
      font-size: 14px;
    }
}
@media (max-width: 768px) {
    .header-image {
        height: 80%;
    }
    .I-am-David-Sanders{
     font-size: 13vw;
     padding-left: 5px;
     padding-right: 10px;
     margin-top: 0px;
    }
}
@media (max-width: 490px) {
    .header-image {
     height: 95%;
    }
    .I-am-David-Sanders{
     font-size: 13vw;
     padding: 1px;
     padding-left: 10px;
     padding-right: 10px;
    }
}

@keyframes scaleImage {
    100% {
        transform: scale(1);
    }
}

@keyframes fadeInText {
    100% {
        opacity: 1;
    }
}

/* Portfolio section */
.portfolio{
  height: auto;
  background-color: #000000;
}
/* Padding around portfolio header */
.section-portfolio-header{
  padding: 100px 0 5px 0;
  font-size: 3vw;
  width: 100%;
}

@media (max-width:576px){
  .section-portfolio-header{
    font-size: 5vw;
  }
}
@media (min-width: 576px) {
  .section-portfolio-header{
    font-size: 4vw;
  }
}
@media (min-width: 768px) {
  .section-portfolio-header{
    font-size: 3vw;
  }
}
@media (min-width: 992px) {
  .section-portfolio-header{
    font-size: 3vw;
  }
}
@media (min-width: 1200px) {
  .section-portfolio-header{
    font-size: 30px;
  }
}

/* Card columns 2 by 2 at 576px and above */
@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}
/* Card columns 3 by 3 at 768px and above */
@media (min-width: 768px) {
.card-columns {
  column-count: 3;
  }
}

/* Portfolio card titles and content padding */
.card-title{
  padding: 0 20px 0 20px;
}
.card-text{
  padding: 3px 1px 6px 1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Spin React SVG Logo */

@media (prefers-reduced-motion: no-preference) {
  .React-Rotate {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Resize Bootstrap Logo */
.bs-img{
  padding: 5vh 5vh 1vh 5vh;
}

/* About section */

.love{
  font-size: 1.2em;
  line-height: 1.7em;
  text-align: center;
  padding: 0vw 24vw 20vw 24vw;
  color: #ffffffc5 !important;
  z-index: 100;
}
.about-background-img{
  background-image: url("Media/starry-sky.jpg");
  background-size: cover;
}
.wrap-listen{
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.listen{
  font-size: 1.2em;
  line-height: 1.7em;
  text-align:left;
  padding: 100px 0 100px 0;
  z-index: 2;
}
.centre-listen-img{
  text-align: center;
}
.listen-img{
  width: 250px;
  height: 250px;
  display: inline-block;
}
.learn{
  font-size: 1.2em;
  line-height: 1.7em;
  padding: 20vw 24vw 20vw 24vw;
  text-align: center;
  background-image: url("Media/starry-sky.jpg");
  background-size: cover;
  transform: rotate(180deg);
  color: #ffffffc5 !important;
}
.rotate{
  transform: rotate(-180deg);
}

/*Resize text on smaller screens */
@media only screen and (max-width: 768px) {
  .love{
    font-size: 1.2em;
    line-height: 1.7em;
    padding: 10vw 10vw 40vw 10vw;
    text-align: center;

  }
  .listen{
    font-size: 1.2em;
    line-height: 1.7em;
    padding: 20vw 10vw 10vw 10vw;
    text-align: left;

  }
  .centre-listen-img{
    width:100%;
    text-align: center;
    padding-bottom: 40px;
  }

  .listen-img{
    width: 200px;
    height: 200px;
    display: inline-block;
  }

  .learn{
    font-size: 1.2em;
    line-height: 1.7em;
    padding: 40vw 10vw 40vw 10vw;
    text-align: center;

  }}

/* Services section */
.services{
    background-color: #000000;
}
/* Add padding to text on cards in services section */
.card-text{
 padding: 15px;
 margin-bottom: 40px;
}
/* No borders on cards in Services section*/
@media (max-width: 768px) {
 .border-3 {
      border-width: 0px !important;
      border-color: white !important;
  }
}
/* Black borders on cards in Services section on larger screens*/
@media (min-width: 768px) {
  .border-3 {
      border-width: 10px !important;
      border-color: black !important;
  }}
/* Padding on cards in Services section on even larger screens*/
@media (min-width: 992px) {
  .services{
   padding: 0 100px 0 100px;
 }
}
/* Even more padding on cards in Services section on even more larger screens*/
@media (min-width: 1200px) {
  .services{
   padding: 0 170px 0 170px;
 }
}
/* Background and text colors on Services section */
.text-yale-blue{
    color: #084a8a;
}

/* Skills section */
.skills{
    background-color: #000000 !important;
}
/* Heading 2 for skills */
.top-skills{
  font-size: 22px;
  padding: 10px;
  text-align: center;
  background-color: #000000 !important;
  color: #ffffff !important;
}
/* Shadow on skills */
.image-shadow{
  box-shadow: 0 0 1px 5 rgba(0, 0, 0, 1);
}
/* Github card in Skills section */
.skills-extra{
    height: 400px;
    background-color: #000000;
}

.card-size-github {
  height: 16vh;
  margin: 0 auto;
  float: none;
  width: 18rem;
  background-color: #000000 !important;
}

/* Re-size heading 2 for skills section */
@media only screen and (max-width: 768px) {
  .skills{
    background-color: #000000 !important;
}
  .top-skills{
    font-size: 4vw;
    padding: 10vw;
    text-align: center;
    color: #ffffff !important;
  }
  .skills-extra{
    height: 400px;
}
}

/* Contact */
.contact{
    background-color: #000000;
    padding-bottom: 100px;
}
.linkedIn{
  width:100%;
  text-align: center;
}
.LI-profile-badge{
  display: inline-block;
}
.footer{
  background-color: #084a8a ;
  height: 100px;
  width: auto;
}
/* Custom background and text colors*/
.bg-dark-cyan{
  background-color: #0e76a8;
}
.bg-orange{
  background-color: #F7AD1E;
}
.bg-white{
  background-color: #ffffff;
}
.bg-grey{
  background-color: #333333;
}
.bg-purple{
  background-color: #672179;
}
.bg-yale-blue{
  background-color: #084a8a !important;
}
.bg-black{
  background-color: #000000;
}
.bg-silver{
  background-color: #c0c0c0;
}
.text-black{
  color: #000000;
}

/* Created by David Sanders */
